<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<title>MVC With burgers!</title>
	</head>
<style>
body{
	background-color: orange;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}
.label {
  font-weight: bold;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
img{
	width: 20%;
}
.form-group {
  margin-bottom: 5px;
}</style>
	<body>
		{{{ body }}}
	</body>
</html>